.compare
  background-color: $bgGray
  padding: 48px 0 60px 0
  &__title
    margin-bottom: 32px
  &__table
    margin: 0 auto
    tr
      border-bottom: 1px solid $lineGray
    th, td
      line-height: 1.5
      padding-top: 12px
      padding-bottom: 12px
      +mobile
        padding-top: 8px
        padding-bottom: 8px
    th, td:not(:first-child)
      padding-left: 16px
      padding-right: 16px
      text-align: center
      +mobile
        padding-left: 8px
        padding-right: 8px
    td:first-child
      padding-right: 16px
      +mobile
        text-align: center
        padding-left: 8px
        padding-right: 8px
    th, tr > td:first-child
      +font(1)
      letter-spacing: .1rem
      +mobile
        +font(0)
    i
      color: $lightBlue
      +font(4, 700)
